{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "account.title"|trans }}</h1>

		<div class="bg-light p-3 mt-3">
			<h2>{{ "account.settings.title"|trans }}</h2>
			<div class="p-2">
				<a class="btn btn-primary" href="{{ path('app_account_updateName') }}" role="button">{{ "account.settings.updateName"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_account_updateEmail') }}" role="button">{{ "account.settings.updateEmail"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_account_updatePassword') }}" role="button">{{ "account.settings.updatePassword"|trans }}</a>
			</div>
		</div>

		<div class="bg-light p-3 mt-3">
			<h2>{{ "account.data.title"|trans }}</h2>
			<div class="p-2">
				<a class="btn btn-danger" href="{{ path('app_account_delete') }}" role="button">{{ "account.data.deleteAccount"|trans }}</a>
			</div>
		</div>

	</div>
{% endblock %}
