{% extends 'base.html.twig' %}

{% block body %}

	{% if loginError %}
		<div class="container">
			<div class="row">
				<div class="alert alert-warning">{{ loginError.messageKey|trans }}</div>
			</div>
		</div>
	{% endif %}

	<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">{{ "login.title"|trans }}</h1>

		<div class="bg-light p-3 mt-3">
			{{ form_start(loginForm) }}

			<div class="row mt-3">
				<div class="col-6">
					{{ form_row(loginForm.email, {'label': 'login.email'|trans, 'value': lastEmail }) }}
				</div>

				<div class="col-6">
					{{ form_row(loginForm.plainPassword, { 'label': 'login.password'|trans })  }}
				</div>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="col-6 mb-3">
				<label>
					<input type="checkbox" name="_remember_me" class="form-check-input">
					{{ "login.remember"|trans }}
				</label>
				<p class="form-text mb-0 help-text">{{ "login.help"|trans }}</p>
			</div>

			<div class="col-6">
				<button class="btn btn-primary" type="submit">
					{{ "login.form"|trans }}
				</button>
			</div>

			{{ form_rest(loginForm) }}
			{{ form_end(loginForm) }}
		</div>
	</div>
{% endblock %}
