{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">{{ 'register.title'|trans }}</h1>

		<div class="bg-light p-3 mt-3">
			{{ form_start(registrationForm) }}

			<div class="row mt-3">
				<div class="col-6">
					{{ form_row(registrationForm.email, { 'label': 'register.email'|trans })  }}
				</div>

				<div class="col-6">
					{{ form_row(registrationForm.name, { 'label': 'register.name'|trans })  }}
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-6">
					{{ form_row(registrationForm.plainPassword.password, { 'label' : 'register.password'|trans }) }}
				</div>

				<div class="col-6">
					{{ form_row(registrationForm.plainPassword.confirm, { 'label' : 'register.confirm'|trans }) }}
				</div>
			</div>

			<div class="col-6">
				<button class="btn btn-primary" type="submit">{{ 'register.registerButton'|trans }}</button>
			</div>

			{{ form_rest(registrationForm) }}
			{{ form_end(registrationForm) }}

		</div>
	</div>
{% endblock %}
