<h1>{{ 'email.title'|trans }}</h1>

<p>{{ 'email.confirm'|trans }} <a href="{{ signedUrl }}">{{ 'email.link'|trans }}</a>.</p>
<p>{{ 'email.expire'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
