{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "settings.title"|trans }}</h1>

		{{ form_start(passwordForm) }}

		<div class="bg-light p-3 mt-3">
			<h1 class="h3 mb-3 font-weight-normal">{{ 'settings.account.password.title'|trans }}</h1>

			<div class="row">
				<div class="col-6">
					{{ form_row(passwordForm.plainPassword.password, { 'label' : 'settings.account.password.input'|trans }) }}
				</div>

				<div class="col-6">
					{{ form_row(passwordForm.plainPassword.confirm, { 'label' : 'settings.account.password.confirm'|trans }) }}
				</div>
			</div>
		</div>

		<div class="col-6 p-3">
			<button class="btn btn-primary" type="submit">{{ 'main.update'|trans }}</button>
			<a class="btn btn-secondary" href="{{ path('app_settings') }}">{{ 'main.back'|trans }}</a>
		</div>

		{{ form_rest(passwordForm) }}
		{{ form_end(passwordForm) }}
		
	</div>
{% endblock %}
