{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="text-center p-3">{{ "pricing.title"|trans }}</h1>

		<div class="row p-3 justify-content-center">
			{% for offer in offers %}
				<div class="col-sm-3">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title">{{ offer.title|trans }}</h2>
							<h5>{{ offer.price|trans }}</h5>
							<p class="card-text text-justify">{{ offer.text|trans }}</p>
							<a href="" class="btn btn-primary">{{ offer.button|trans }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<h1 class="text-center p-3">{{ "pricing.subtitle"|trans }}</h1>

		<table class="table table-hover table-striped">
			<thead>
				<tr class="text-center">
					<td></td>
					<td>{{ 'pricing.free.title'|trans }}</td>
					<td>{{ 'pricing.starter.title'|trans }}</td>
					<td>{{ 'pricing.premium.title'|trans }}</td>
				</tr>
			</thead>

			<tbody>
				{% for detail in details %}
					<tr class="text-center">
						<td>{{ detail.title|trans }}</td>
						<td>{{ detail.free|trans }}</td>
						<td>{{ detail.starter|trans }}</td>
						<td>{{ detail.premium|trans }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
