{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "settings.title"|trans }}</h1>

		<div class="row p-3">
            <div class="col p-3 bg-light ml-2">
				<h2>{{ "settings.profile"|trans }}</h2>
					<div class="py-2">
						<a class="btn btn-primary" href="{{ path('app_modify_name') }}" role="button">{{ "settings.profile.changeName"|trans }}</a>
						<a class="btn btn-primary" href="{{ path('app_modify_email') }}" role="button">{{ "settings.profile.changeEmail"|trans }}</a>
						<a class="btn btn-primary" href="{{ path('app_modify_password') }}" role="button">{{ "settings.profile.changePassword"|trans }}</a>
					</div>

				<h2>{{ "settings.data"|trans }}</h2>
					<div class="py-2">
						<a class="btn btn-danger" href="{{ path('app_delete_account') }}" role="button">{{ "settings.data.deleteAccount"|trans }}</a>
					</div>
			</div>
		</div>

	</div>
{% endblock %}