{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "settings.title"|trans }}</h1>

		<div class="row p-3">
            <div class="col p-3 bg-light ml-2">
				<h2>Informations de base</h2>
					<div class="py-2">
						<a class="btn btn-primary" href="{{ path('app_modify_username') }}" role="button">Changer nom d'utilisateur</a>
						<a class="btn btn-primary" href="{{ path('app_modify_email') }}" role="button">Changer courriel</a>
						<a class="btn btn-primary" href="{{ path('app_modify_password') }}" role="button">Changer mot de passe</a>
					</div>

				<h2>Données et profils</h2>
					<div class="py-2">
						<a class="btn btn-danger" href="{{ path('app_delete_account') }}" role="button">Supprimer mon compte</a>
					</div>
			</div>
		</div>

	</div>
{% endblock %}