{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "settings.title"|trans }}</h1>

		<div class="p-3 bg-light">
			<h2>{{ "settings.profile"|trans }}</h2>
			<div class="py-2">
				<a class="btn btn-primary" href="{{ path('app_modify_name') }}" role="button">{{ "settings.changeName"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_modify_email') }}" role="button">{{ "settings.changeEmail"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_modify_password') }}" role="button">{{ "settings.changePassword"|trans }}</a>
			</div>
		</div>

		<div class="p-3 bg-light mt-3">
			<h2>{{ "settings.data"|trans }}</h2>
			<div class="py-2">
				<a class="btn btn-danger" href="{{ path('app_delete_account') }}" role="button">{{ "settings.deleteAccount"|trans }}</a>
			</div>
		</div>

	</div>
{% endblock %}
