{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "settings.title"|trans }}</h1>

		<div class="bg-light mt-4 p-4">
			<h1 class="h3 mb-3 font-weight-normal">{{ 'settings.modifyEmail.title'|trans }}</h1>

			{% if not app.user.isVerified %}
				<p>{{ 'settings.modifyEmail.notVerified'|trans }}</p>
			{% else %}
				{{ form_start(emailForm) }}

				<div class="col-6 mt-3">
					{{ form_row(emailForm.email, { 'label': 'settings.modifyEmail.email'|trans })  }}
				</div>

				<div class="col-6">
					<button class="btn btn-primary" type="submit">{{ 'main.update'|trans }}</button>
					<a class="btn btn-secondary" href="{{ path('app_settings') }}">{{ 'main.back'|trans }}</a>
				</div>

				{{ form_rest(emailForm) }}
				{{ form_end(emailForm) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
