{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "readme.title"|trans }}</h1>

		<div class="bg-light mt-4 p-4">
			<h1 class="h3 mb-3 font-weight-normal">{{ 'readme.add.title'|trans }}</h1>

			{{ form_start(readmeAddForm) }}

			<div class="row">
				<div class="col-6">
					{{ form_row(readmeAddForm.name, { 'label' : 'readme.add.name'|trans }) }}
				</div>

				<div class="col-6">
					{{ form_row(readmeAddForm.url, { 'label' : 'readme.add.url'|trans }) }}
				</div>
			</div>

			<div class="col-6">
				<button class="btn btn-primary" type="submit">{{ 'main.add'|trans }}</button>
				<a class="btn btn-secondary" href="{{ path('app_readme') }}">{{ 'main.back'|trans }}</a>
			</div>

			{{ form_rest(readmeAddForm) }}
			{{ form_end(readmeAddForm) }}

		</div>
	</div>
{% endblock %}
