{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "readme.title"|trans }}</h1>

		<div class="p-3 bg-light">
			<h2>{{ "readme.actionMenu"|trans }}</h2>
			<div class="py-2">
				<a class="btn btn-primary" href="{{ path('app_readme_add') }}" role="button">{{ "readme.addLink"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_view_readme', {username: app.user.name}) }}" role="button">{{ "readme.seeReadme"|trans }}</a>
			</div>
		</div>

		<div class="p-3 bg-light mt-3">
			<h2>{{ "readme.listMenu"|trans }}</h2>

			{% if not links %}
				<p>{{ "readme.noLinks"|trans }}</p>
			{% else %}
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">URL</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{%for link in links%}
							<tr>
								<td>{{ link.name }}</td>
								<td>{{ link.url }}</td>
								<td>
									Modifier
									<a href="{{ path('app_readme_delete', {id:link.id}) }}">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

		</div>
	</div>
{% endblock %}