{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "readme.title"|trans }}</h1>

		<div class="bg-light p-3 mt-3">
			<h2>{{ "readme.menu.title"|trans }}</h2>
			<div class="p-2">
				<a class="btn btn-primary" href="{{ path('app_readme_view', {username: app.user.name}) }}" role="button">{{ "readme.menu.seeProfile"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_readme_addModel') }}" role="button">{{ "readme.menu.addModel"|trans }}</a>
				<a class="btn btn-primary" href="{{ path('app_readme_settings') }}" role="button">{{ "readme.menu.settings"|trans }}</a>
			</div>
		</div>

		<div class="bg-light p-3 mt-3">
			<h2>{{ "readme.listModel.title"|trans }}</h2>

			{% if app.user.linkUsers|length == 0 %}
				<p>{{ "readme.listModel.noModels"|trans }}</p>
			{% else %}
				<table class="table table-hover table-striped table-condensed">
					<thead>
						<tr class="text-center">
							<th width="5%" scope="col"></th>
							<th width="30%" scope="col">{{ 'readme.listModel.tableModel'|trans }}</th>
							<th width="45%" scope="col">{{ 'readme.listModel.tableUsername'|trans }}</th>
							<th width="20%" scope="col">{{ 'readme.listModel.tableActions'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{%for link in app.user.linkUsers %}
							<tr>
								<td class="text-center align-middle"><i class="{{ link.model.icon }}"></i></td>
								<td class="align-middle">{{ link.model.name }}</td>
								<td class="align-middle">{{ link.username }}</td>
								<td class="text-center">
									<a class="btn btn-primary btn-sm" href="{{ path('app_readme_updateModel', { id:link.id }) }}">{{ 'main.update'|trans }}</a>
									<a class="btn btn-danger btn-sm" href="{{ path('app_readme_deleteModel', { id:link.id }) }}">{{ 'main.delete'|trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

		</div>
	</div>
{% endblock %}