{% extends 'base.html.twig' %}

{% block body %}
	{% if not user.isVisible and app.request.pathinfo == "/@" ~ user.name %}
		<div class="container">
			<div class="row">
				<div class="alert alert-primary">{{ 'readme.view.alwaysVisible'|trans }}</div>
			</div>
		</div>
	{% endif %}

	<div class="container">
		<h1>{{ user.name }}</h1>

		{# {% if user.isVisible %} #}
		{% if user.isVisible or app.request.pathinfo == "/@" ~ user.name %}
			{% if user.bio|length > 0 %}
				<div class="bg-light p-3 mt-3">
					<p class="mt-3">{{ user.bio }}</p>
				</div>
			{% endif %}

			{% if user.linkUsers|length != 0 %}
				<div class="p-3 mt-3 text-center">
					{% for link in user.linkUsers %}
						<div class="btn btn-primary text-light">
							<i class="{{ link.model.icon }}"></i>
							<a class="text-light text-decoration-none" href="{{ link.model.url }}{{ link.username }}">{{ link.model.name }}</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% else %}
			<p class="text-center mt-5">{{ 'readme.view.notVisible'|trans }}</p>
		{% endif %}

	</div>
{% endblock %}
