{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "settings.readme.title"|trans }}</h1>

		{{ form_start(settingsForm) }}

		<div class="bg-light p-3 mt-3">
			<h1 class="h3 mb-3 font-weight-normal">{{ 'settings.readme.personalization.visibility.title'|trans }}</h1>

			{{ form_row(settingsForm.isVisible, { 'label' : 'settings.readme.personalization.visibility.input'|trans }) }}
		</div>

		<div class="bg-light p-3 mt-3">
			<h1 class="h3 mb-3 font-weight-normal">{{ 'settings.readme.personalization.bio.title'|trans }}</h1>

			{{ form_row(settingsForm.bio, { 'label' : 'settings.readme.personalization.bio.input'|trans }) }}
		</div>

		<div class="bg-light p-3 mt-3">
			<h1 class="h3 mb-3 font-weight-normal">{{ 'settings.readme.personalization.avatar.title'|trans }}</h1>

			<div class="row p-2">
				<div class="col-3 text-center">
					{% if app.user.avatar %}
						<img src="{{ asset('images/avatars/' ~ app.user.avatar) }}" alt="" width="160px" height="160px"/>
					{% else %}
						<img src="{{ app.user.UIAvatar(160) }}" alt="{{ app.user.name }}">
					{% endif %}
				</div>

				<div class="col-9">
					{{ form_row(settingsForm.avatar, { 'label' : 'settings.readme.personalization.avatar.input'|trans }) }}

					{% if app.user.avatar %}
						<a href="{{ path('app_settings_personalization_delete_avatar') }}" class="btn btn-danger">{{'settings.readme.personalization.avatar.delete'|trans }}</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col-6 p-3">
			<button class="btn btn-primary" type="submit">{{ 'main.update'|trans }}</button>
			<a class="btn btn-secondary" href="{{ path('app_settings') }}">{{ 'main.back'|trans }}</a>
		</div>

		{{ form_rest(settingsForm) }}
		{{ form_end(settingsForm) }}

	</div>
{% endblock %}
