{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "blog.title"|trans }}</h1>

		<div class="row p-3 justify-content-left">
			{% for article in pager %}
				<div class="col-sm-6 my-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ article.title }}</h5>
							<p class="text-justify">{{ article.content|slice(0, 500) }}...</p>
							<a href="{{ path('app_blog_article', {slug: article.slug}) }}" class="btn btn-primary">Lire la suite</a>
						</div>

						{% if article.tags|length != 0 %}
							<div class="card-footer">
								{% for tag in article.tags %}
									{{ tag.name }}
								{% endfor %}
							</div>
						{% endif %}

					</div>
				</div>
			{% endfor %}
		</div>

		<div class="d-flex justify-content-center mt-3">
			{{ pagerfanta(pager) }}
		</div>

	</div>
{% endblock %}
