<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ get_env("APP_TITLE") }}
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column min-vh-100">

		<header class="p-3 mb-3 border-bottom">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li class="mx-3">
							<a href="{{ path('app_home') }}" class="nav-link link-secondary">{{ "navbar.home"|trans }}</a>
						</li>
						<li class="mx-3">
							<a href="{{ path('app_blog') }}" class="nav-link link-secondary">{{ "navbar.blog"|trans }}</a>
						</li>
						<li class="mx-3">
							<a href="{{ path('app_pricing') }}" class="nav-link link-secondary">{{ "navbar.pricing"|trans }}</a>
						</li>
						<li class="mx-3">
							<a href="{{ path('app_help') }}" class="nav-link link-secondary">{{ "navbar.help"|trans }}</a>
						</li>
					</ul>

					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<div class="dropdown">
							<button class="dropdown-toggle btn" type="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ app.user.UIAvatar }}" alt="{{ app.user.name }}">
							</button>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
								<li>
									<a class="dropdown-item" href="{{ path('app_settings') }}">{{ "navbar.settings"|trans }}</a>
								</li>
								{% if is_granted('ROLE_ADMIN') %}
									<li>
										<a class="dropdown-item" target="_blank" href="{{ path('app_admin') }}">{{ "navbar.admin"|trans }}</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">{{ "navbar.logout"|trans }}</a>
								</li>
							</ul>
						</div>
					{% else %}
						<div class="col-md-3 text-end">
							<a href="{{ path('app_login') }}" class="btn" role="button">{{ "navbar.login"|trans }}</a>
							<a href="{{ path('app_register') }}" class="btn btn-dark" role="button">{{ "navbar.signup"|trans }}</a>
						</div>
					{% endif %}

				</div>
			</div>
		</header>

		{% if app.user and not app.user.isVerified %}
			<div class="container">
				<div class="row">
					<div class="alert alert-danger">{{ "email.notVerified"|trans }}
						<a href="{{ path('app_register_resendEmail') }}">{{ 'email.resend'|trans }}</a>
					</div>
				</div>
			</div>
		{% endif %}

		{% for error in app.flashes('error') %}
			<div class="container">
				<div class="row">
					<div class="alert alert-danger">{{ error|trans }}</div>
				</div>
			</div>
		{% endfor %}

		{% for warning in app.flashes('warning') %}
			<div class="container">
				<div class="row">
					<div class="alert alert-warning">{{ warning|trans }}</div>
				</div>
			</div>
		{% endfor %}

		{% for success in app.flashes('success') %}
			<div class="container">
				<div class="row">
					<div class="alert alert-success">{{ success|trans }}</div>
				</div>
			</div>
		{% endfor %}

		{% block body %}{% endblock %}

	<footer class="mt-auto">
		<div class="bg-dark text-light text-center p-2">
			{% set locale = app.request.locale %}
			{% set route = app.request.get('_route') %}

			{{ 'footer.copyright'|trans }} -
			
			<a 
				class="text-white text-decoration-none" 
				href=
				{% if locale == 'fr' %}
					'{{ path(route, {_locale: 'en'}) }}'
				{% elseif locale == 'en' %}
					'{{ path(route, {_locale: 'fr'}) }}'
				{% endif %}
				><i class="fa-solid fa-repeat"></i> {{ 'footer.switch'|trans }}</a>
  		</div>
	</footer>

	</body>
</html>
