<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ get_env("APP_TITLE") }}
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<header class="p-3 mb-3 border-bottom">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li>
							<a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">{{ "navbar.home"|trans }}</a>
						</li>
					</ul>

					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<div class="dropdown">
							<button class="dropdown-toggle btn" type="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ app.user.avatarURI }}" alt="{{ app.user.email }}">
							</button>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
								<li>
									<a class="dropdown-item" href="{{ path('app_readme') }}">{{ "navbar.readme"|trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_settings') }}">{{ "navbar.settings"|trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">{{ "navbar.logout"|trans }}</a>
								</li>
							</ul>
						</div>
					{% else %}
						<div class="col-md-3 text-end">
							<a href="{{ path('app_login') }}" class="btn" role="button">{{ "navbar.login"|trans }}</a>
							<a href="{{ path('app_register') }}" class="btn btn-dark" role="button">{{ "navbar.signup"|trans }}</a>
						</div>
					{% endif %}

				</div>
			</div>
		</header>

		{% if app.user and not app.user.isVerified %}
			<div class="container">
				<div class="row">
					<div class="alert alert-danger">{{ "email.notVerified"|trans }}
						<a href="{{ path('app_resend_email') }}">{{ 'email.resend'|trans }}</a>
					</div>
				</div>
			</div>
		{% endif %}

		{% for error in app.flashes('error') %}
			<div class="container">
				<div class="row">
					<div class="alert alert-danger">{{ error|trans }}</div>
				</div>
			</div>
		{% endfor %}

		{% for message in app.flashes('success') %}
			<div class="container">
				<div class="row">
					<div class="alert alert-success">{{ message|trans }}</div>
				</div>
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
	</body>
</html>
